html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Bitter', serif;
    background-color: #EAF9FD;
}

img {
    max-width: 100%;
}

.promo-wrapper {
    width: 100%;
    overflow: hidden;
}

.promo {
    position: relative;
    width: 1920px;
    height: 1359px;
    transform: translateX(calc(50vw - 960px));
}

.illustration {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
    margin: 0 auto;
    padding: 100px;
    box-sizing: border-box;
}

.container.promo {
    width: 100%;
    height: 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;
}

.promo__title {
    width: 100%;
    color: white;
    z-index: 1;
    position: absolute;
    text-align: center;
    margin-top: 6vh;
}

h1 {
    text-transform: uppercase;
    text-shadow: 0 2px 0 #7eb1de;
    letter-spacing: 0.05em;
    font-size: 54px;
    line-height: 72px;
    margin-bottom: 10px;
}

.container_form {
    padding: 100px;
    max-width: 800px;
    text-align: center;
}

.form {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}

.form__subtitle {
    font-size: 16px;
    line-height: 24px;
    background-color: #70d431;
    padding: 16px;
    color: #000;
    margin: 30px 0;
}

header {
    background-color: transparent;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 70px;
}

.main-nav {
    display: flex;
    height: 70px;
    margin-top: -70px;
    align-items: center;
    justify-content: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

.button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    background-color: #d01010;
    text-transform: uppercase;
    border-radius: 8px;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0 3px 0 #a40e0e;
}

.rules-list {
    list-style: none;
    padding: 0;
}

.rules-list__item {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 36px;
}

.rules {
    margin-top: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #6e3ca0;
    color: white;
    min-height: 100vh;
}

h2 {
    font-size: 48px;
    line-height: 64px;
}

#about-csc {
    background-color: #04743a;
    color: white;
    font-size: 24px;
    line-height: 36px;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: #ffd040;
    border-bottom: 1px solid rgba(255, 208, 64, .4);
}

.link:hover {
    color: #44f5c7;
    border-bottom: 1px solid rgba(35, 234, 181, .4);
}

.link_stepik {
    color: #000;
    background-color: #FFD040;
    padding: 4px;
}

.link_stepik:hover {
    color: #000;
    background-color: #44f5c7;
}

h3 {
    margin-top: 80px;
}

.form h2 {
    font-size: 32px;
    line-height: 40px;
}

.video {
    width: 100%;
    height: 70vh;
    max-height: 500px;
    min-height: 300px;
}

@media (max-width: 1024px) {
    .container {
        padding: 60px 40px;
    }

    .video {
        height: 60vh;
        max-height: 400px;
        min-height: 300px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px;
        line-height: 54px;
        margin-top: 120px;
    }

    .container {
        padding: 60px 20px;
    }

    .video {
        height: 40vh;
        max-height: 290px;
        min-height: 200px;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 32px;
        line-height: 42px;
        margin-top: 120px;
    }
}

.button-start {
    position: fixed;
    top: 20px;
    right: 20px;
    outline: none;
    border: none;
    border-radius: 32px;
    background-color: #fff;
    cursor: pointer;
    width: 48px;
    height: 48px;
    font-size: 0;
    padding: 0;
}

.button:active {
    position: relative;
    top: 1px;
    box-shadow: 0 2px 0 #a40e0e;
}

.button-start:active {
    position: fixed;
    top: 21px;
}

#skater-boy {
    animation: 10s linear 2s infinite skater-boy;
    transform-origin: 80% 22%;
    transform: translate(500px, -120px) rotate(25deg);
}

#cloud_big {
    animation: 12s ease-in-out infinite alternate cloud;
}

#cloud_small {
    animation: 14s ease-in-out infinite alternate-reverse cloud;
}

#cloud_long {
    animation: 15s ease-in-out infinite alternate-reverse cloud;
}

@keyframes cloud {
    0% {

    }
    100% {
        transform: translateX(-200px);
    }
}

@keyframes skater-boy {
    0% {
        transform: translate(500px, -120px) rotate(25deg) scale(0.5);
    }
    10% {
        transform: translate(500px, -120px) rotate(25deg) scale(0.5);
    }
    50% {
        transform: translate(100px, -100px) rotate(5deg) scale(0.7);
    }
    70% {
        transform: translate(-500px, 400px) rotate(0) scale(0.8);
    }
    90% {
        transform: translate(-1200px, 600px) rotate(10deg) scale(1);
    }
    100% {
        transform: translate(-1600px, 650px) rotate(30deg) scale(1);
    }
}


#snow-top-layer {
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {

    100% {
        transform: translateY(0);
    }
}

#fb-share-button {
    width: 21px;
    height: 22px;
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    position: static;
    margin-left: 12px;
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

.share-btns {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin-right: 12px;
    margin-bottom: 12px;
}

.share-btns p {
    margin-right: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 12px;
}

.music {
    fill: #ea1c37;
}

.music.off {
    fill: #aeaeae;
}